---
title: browserstats.love
---

<section class="top-bar">
    <h2 class="site-title"><span id="title-emoji">❤️</span>    browserstats.love</h2>
    <h2 class="site-updated">Last Updated <%= browser_data["last_update"] %></h2>
</section>

<div class="parallax">

  <section class="toggle">
    <div class="globe">🌍</div>
    <div class="america">🇺🇸</div>
  </section>


  <section class="card-section">

    <div class="card browser-stats">
        <table>
            <th class="card-header" colspan="3">BROWSER</th>

            <!--start running the ruby  -->
            <% browser_data["Web Browser"].each do |browser, pct| %>
                <tr>
                    <td class="browser-card-percent-column"><%= pct %>%</td>
                    <td class="browser-card-icon-column"><img src="assets/<%= get_asset(browser) %>" alt="Chrome"></td>
                    <td class="browser-card-browser-column"><%= browser.upcase %></td>
                </tr>
            <% end %>
            <!--end running the ruby  -->

        </table>
    </div>


    <div class="card resolution-card">
        <table>
            <th class="card-header" colspan="3">RESOLUTION</th>

            <!--running the ruby  -->
            <% browser_data["Screen Resolution"].each do |resolution, pct| %>
                <tr>
                    <td class="percent-column resolution-card-percent-column"><%= pct %>%</td>
                    <td class="browser-column resolution-card-browser-column">
                        <%= resolution.upcase %>
                    </td>
                </tr>
            <% end %>
            <!--end running the ruby  -->

        </table>
    </div>

  </section>


  <section class="credits">

    <div id="heart-circle">
      <div id="heart">❤️</div>
    </div>

    <p>
      Made with love by
      <span class="link-container"><a href="http://design.tobysilverman.com" target="_blank">Toby</a></span>,

      <span class="link-container"><a href="http://benpepin.com" target="_blank">Ben</a></span>,

      and

      <span class="link-container"><a href="http://aaronstrick.com" target="_blank">Aaron</a></span>

      with stats from

      <span class="link-container"><a href="https://www.w3schools.com/Browsers/default.asp" target="_blank">W3</a></span>
    </p>
  </section>

</div>
