---
title: browserstats.love
---

<section class="header">
    <h2 class="site-title">❤️    browserstats.love</h2>
    <h2 class="site-updated">Last Updated <%= browser_data["last_update"] %></h2>
</section>


<div class="data-card">
    <table>
        <th class="data-card-header" colspan="2">BROWSER</th>


        <!--running the ruby  -->
        <% browser_data["Web Browser"].each do |browser, pct| %>
            <tr>
                <td class="pct"><%= pct %></td>
                <td class="browser">
                    <div class="icon"> </div>
                    <%= browser.upcase %>
                </td>
            </tr>
        <% end %>


    </table>
</div>


<div class="data-card">
    <table>
        <th class="data-card-header" colspan="2">RESOLUTION</th>


        <!--running the ruby  -->
        <% browser_data["Screen Resolution"].each do |resolution, pct| %>
            <tr>
                <td class="pct"><%= pct %></td>
                <td class="browser">
                    <%= resolution.upcase %>
                </td>
            </tr>
        <% end %>


    </table>
</div>


<h2>
    Info from
  <%=link_to browser_data["data_source"]["name"], browser_data["data_source"]["url"] %>
</h2>

<h2>
  Made with ♥ by
  <%= "#{link_to "Toby", "http://design.tobysilverman.com"}, #{ link_to "Ben", "http://benpepin.com" }," %>
  and
  <%= link_to "Aaron", "http://aaronstrick.com" %>
</h2>
