---
title: browserstats.love
---

<section class="top-bar">
  <h2 class="site-title"><span id="title-emoji">❤️</span>    browserstats.love</h2>
  <h2 class="site-description">A tropical site tracking broswer popularity</h2>
  <h2 class="site-updated">Last Updated <%= browser_data["last_update"] %></h2>
</section>



  <section class="card-section">



    <div class="switch-field">
        <input type="radio" id="select-usa" name="switch_2" value="yes" checked/>
        <label for="select-usa">🇺🇸</label>
        <input type="radio" id="select-world" name="switch_2" value="no" />
        <label for="select-world">🌏</label>
        <input type="radio" id="select-phone" name="switch_2" value="no" />
        <label for="select-phone">📱</label>
    </div>


    <div class="flip-container" id="browser-card" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">

          <!-- front content -->

          <div class="card browser-stats" >

            <table>
              <th class="card-header" colspan="3">BROWSER</th>

              <!--start running the ruby  -->
              <% browser_data["Web Browser"].each do |browser, pct| %>
              <tr>
                <td class="browser-card-percent-column"><%= pct %>%</td>
                <td class="browser-card-icon-column"><img src="assets/<%= get_asset(browser) %>" alt="Chrome"></td>
                <td class="browser-card-browser-column"><%= browser.upcase %></td>
              </tr>
              <% end %>
              <!--end running the ruby  -->
            </table>

          </div>
        </div>

        <div class="back">
          <!-- back content -->
          <div class="card browser-stats">
            <table>
              <th class="card-header" colspan="3">BROWSER</th>

              <!--start running the ruby  -->
              <% browser_data["World"].each do |browser, pct| %>
              <tr>
                <td class="browser-card-percent-column"><%= pct %>%</td>
                <td class="browser-card-icon-column"><img src="assets/<%= get_asset(browser) %>" alt="Chrome"></td>
                <td class="browser-card-browser-column"><%= browser.upcase %></td>
              </tr>
              <% end %>
              <!--end running the ruby  -->
            </table>

          </div>
        </div>


      </div>
    </div>


    <div class="flip-container" id="resolution-card" ontouchstart="this.classList.toggle('hover');">
      <div class="flipperplus">
        <div class="front">

          <!-- front content -->

          <div class="card resolution-card">
            <table>
              <th class="card-header" colspan="3">RESOLUTION</th>

              <!--running the ruby  -->
              <% browser_data["Screen Resolution"].each do |resolution, pct| %>
              <tr>
                <td class="percent-column resolution-card-percent-column"><%= pct %>%</td>
                <td class="browser-column resolution-card-browser-column">
                  <%= resolution.upcase %>
                </td>
              </tr>
              <% end %>
              <!--end running the ruby  -->

            </table>
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="card resolution-card">
            <table>
               <th class="card-header" colspan="3">RESOLUTION</th>

              <!--running the ruby  -->
              <% browser_data["World Resolution"].each do |resolution, pct| %>
              <tr>
                <td class="percent-column resolution-card-percent-column"><%= pct %>%</td>
                <td class="browser-column resolution-card-browser-column">
                  <%= resolution.upcase %>
                </td>
              </tr>
              <% end %>
              <!--end running the ruby  -->



            </table>
          </div>
        </div>

      </div>
    </div>

  </section>


  <section class="credits">

    <div id="heart-circle">
      <div id="heart">❤️</div>
    </div>

    <p>
      Made with love by
      <span class="link-container"><a href="http://design.tobysilverman.com" target="_blank">Toby</a></span>,

      <span class="link-container"><a href="http://benpepin.com" target="_blank">Ben</a></span>,

      and

      <span class="link-container"><a href="http://aaronstrick.com" target="_blank">Aaron</a></span>

      with stats from

      <span class="link-container"><a href="http://gs.statcounter.com/" target="_blank">Stat Counter</a></span>
    </p>
    </section>
  </section>
